* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

artisan linguist-vendored
tests/** linguist-vendored
public/index.php linguist-vendored
lang/** linguist-vendored
config/** linguist-vendored
bootstrap/** linguist-vendored